
<div class="col-lg-3">
    <button class="btn-success form-control" onclick="workers()">Workers</button>
</div>
<div class="col-lg-3">
    <button class="btn-success form-control" onclick="projects()">Projects</button>
</div>
